{
  "openapi": "3.0.0",
  "info": {
    "title": "Linode",
    "description": "[Linode](https://www.linode.com) API",
    "termsOfService": "http://...",
    "contact": {
      "email": "feedback@linode.com"
    },
    "license": {
      "name": "",
      "url": ""
    },
    "version": "0.1.0"
  },
  "externalDocs": {},
  "servers": [
    {
      "url": "https://api.linode.com/v4",
      "description": "Linode API"
    }
  ],
  "paths": {},
  "components": {
    "schemas": {
      "X-Filter": {
        "type": "string",
        "externalDocs": {
          "description": "",
          "url": "https://developers.linode.com/v4/filtering"
        }
      }
    },
    "parameters": {
      "pagination": {
        "name": "page",
        "in": "query",
        "description": "Page of results",
        "required": false,
        "allowEmptyValue": true,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      },
      "filtering": {
        "name": "X-Filter",
        "in": "header",
        "description": "Filtering parameters",
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "tags": [],
  "security": [
    {
      "type": "http",
      "scheme": "bearer"
    },
    {
      "type": "oauth2",
      "flows": {
        "implicit": {
          "authorizationUrl": "https://login.linoode.com/oauth/authorize",
          "tokenUrl": "https://login.linoode.com/oauth/token",
          "scopes": {}
        },
        "authorizationCode": {
          "tokenUrl": "https://login.linode.com/oauth/token",
          "scopes": {}
        }
      }
    }
  ],
  "blah": [
    {
      "name": "Linodes",
      "path": "/linode",
      "routePath": "/v4/reference/linode",
      "groups": [
        {
          "label": "",
          "endpoints": [
            {
              "authenticated": true,
              "description": "Manage the collection of Linodes your account may access.\n",
              "methods": [
                {
                  "response": {
                    "name": "Linode",
                    "prefix": "lnde",
                    "description": "Linode objects describe a single Linode on your account.\n",
                    "schema": [
                      {
                        "name": "pages",
                        "description": "The total number of pages of results.",
                        "value": 1,
                        "required": true,
                        "type": "Integer",
                        "schema": null
                      },
                      {
                        "name": "results",
                        "description": "The total number of results.",
                        "value": 1,
                        "required": true,
                        "type": "Integer",
                        "schema": null
                      },
                      {
                        "name": "data",
                        "description": "All results for the current page.",
                        "required": true,
                        "isArray": true,
                        "type": "Array[Object]",
                        "schema": [
                          {
                            "name": "id",
                            "description": "This Linode's ID",
                            "value": 123456,
                            "required": true,
                            "type": "Integer",
                            "schema": null
                          },
                          {
                            "name": "alerts",
                            "description": {
                              "descText": "Toggle and set thresholds for receiving email alerts. \n",
                              "listItems": [
                                "CPU Usage - % - Average CPU usage over 2 hours exceeding this value triggers this alert. (Range 0-2000, default 90)",
                                "Disk IO Rate - IO Ops/sec - Average Disk IO ops/sec over 2 hours exceeding this value triggers this alert. (Range 0-100000, default 10000)",
                                "Incoming Traffic - Mbit/s - Average incoming traffic over a 2 hour period exceeding this value triggers this alert. (Range 0-40000, default 10)",
                                "Outbound Traffic - Mbit/s - Average outbound traffic over a 2 hour period exceeding this value triggers this alert. (Range 0-10000, default 10)",
                                "Transfer Quota - % - Percentage of network transfer quota used being greater than this value will trigger this alert. (Range 0-400, default 80)"
                              ]
                            },
                            "required": true,
                            "type": "Object",
                            "schema": [
                              {
                                "name": "cpu",
                                "description": "CPU Usage % (Range 0-2000, default 90). 0 to disable.",
                                "value": 90,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "io",
                                "description": "Disk IO Rate ops/sec (Range 0-100000, default 10000). 0 to disable.",
                                "value": 10000,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "network_in",
                                "description": "Incoming Traffic Mbit/s (Range 0-40000, default 10). 0 to disable.",
                                "value": 0,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "network_out",
                                "description": "Outbound Traffic Mbit/s (Range 0-10000, default 10). 0 to disable.",
                                "value": 10,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "transfer_quota",
                                "description": "Transfer Quota % (Range 0-400, default 80). 0 to disable.",
                                "value": 80,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              }
                            ]
                          },
                          {
                            "name": "backups",
                            "seeAlso": "/reference/endpoints/linode/instances/$id/backups",
                            "description": "Displays if backups are enabled, last backup datetime if applicable, and the day/window your backups will occur. Window is prefixed by a \"W\" and an integer representing the two-hour window in 24-hour UTC time format. For example, 2AM is represented as \"W2\", 8PM as \"W20\", etc. (W0, W2, W4...W22)\n",
                            "required": true,
                            "type": "Object",
                            "schema": [
                              {
                                "name": "enabled",
                                "value": true,
                                "required": true,
                                "type": "Boolean",
                                "schema": null
                              },
                              {
                                "name": "schedule",
                                "description": "The day and window of a Linode's automatic backups.",
                                "required": true,
                                "type": "Object",
                                "schema": [
                                  {
                                    "name": "day",
                                    "value": "Tuesday",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "window",
                                    "value": "W20",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  }
                                ]
                              },
                              {
                                "name": "last_backup",
                                "description": "If enabled, the last backup that was successfully taken.",
                                "required": true,
                                "type": "Object",
                                "schema": [
                                  {
                                    "name": "id",
                                    "value": 123456,
                                    "required": true,
                                    "type": "Integer",
                                    "schema": null
                                  },
                                  {
                                    "name": "label",
                                    "description": "Human-friendly backup name.",
                                    "value": "A label for your snapshot",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "status",
                                    "description": "Status of the backup.",
                                    "subType": "Status",
                                    "value": "successful",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": [
                                      {
                                        "name": "offline",
                                        "description": "The Linode is powered off."
                                      },
                                      {
                                        "name": "booting",
                                        "description": "The Linode is currently booting up."
                                      },
                                      {
                                        "name": "running",
                                        "description": "The Linode is currently running."
                                      },
                                      {
                                        "name": "shutting_down",
                                        "description": "The Linode is currently shutting down."
                                      },
                                      {
                                        "name": "rebooting",
                                        "description": "The Linode is rebooting."
                                      },
                                      {
                                        "name": "provisioning",
                                        "description": "The Linode is being created."
                                      },
                                      {
                                        "name": "deleting",
                                        "description": "The Linode is being deleted."
                                      },
                                      {
                                        "name": "migrating",
                                        "description": "The Linode is being migrated to a new host/region."
                                      }
                                    ]
                                  },
                                  {
                                    "name": "type",
                                    "description": "Whether this is a snapshot or an auto backup.",
                                    "subType": "Type",
                                    "value": "snapshot",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": null
                                  },
                                  {
                                    "name": "region",
                                    "description": "This backup region.",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "created",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "updated",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "finished",
                                    "description": "An ISO 8601 datetime of when the backup completed.",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "configs",
                                    "description": "Config labels that were included in this backup.",
                                    "value": [
                                      "My Debian8 Profile"
                                    ],
                                    "required": true,
                                    "isArray": true,
                                    "type": "Array[String]",
                                    "schema": null
                                  },
                                  {
                                    "name": "disks",
                                    "description": "The disks included in this backup.",
                                    "required": true,
                                    "isArray": true,
                                    "type": "Array[Object]",
                                    "schema": [
                                      {
                                        "name": "id",
                                        "value": 123456,
                                        "required": true,
                                        "type": "Integer",
                                        "schema": null
                                      },
                                      {
                                        "name": "label",
                                        "description": "Human-friendly disk name.",
                                        "value": "Ubuntu 14.04 Disk",
                                        "required": true,
                                        "type": "String",
                                        "schema": null
                                      },
                                      {
                                        "name": "status",
                                        "description": "Status of the disk.",
                                        "subType": "Status",
                                        "value": "ready",
                                        "required": true,
                                        "type": "Enum",
                                        "schema": [
                                          {
                                            "name": "offline",
                                            "description": "The Linode is powered off."
                                          },
                                          {
                                            "name": "booting",
                                            "description": "The Linode is currently booting up."
                                          },
                                          {
                                            "name": "running",
                                            "description": "The Linode is currently running."
                                          },
                                          {
                                            "name": "shutting_down",
                                            "description": "The Linode is currently shutting down."
                                          },
                                          {
                                            "name": "rebooting",
                                            "description": "The Linode is rebooting."
                                          },
                                          {
                                            "name": "provisioning",
                                            "description": "The Linode is being created."
                                          },
                                          {
                                            "name": "deleting",
                                            "description": "The Linode is being deleted."
                                          },
                                          {
                                            "name": "migrating",
                                            "description": "The Linode is being migrated to a new host/region."
                                          }
                                        ]
                                      },
                                      {
                                        "name": "size",
                                        "description": "Size of this disk in MB.",
                                        "editable": true,
                                        "value": 1000,
                                        "required": true,
                                        "type": "Integer",
                                        "schema": null
                                      },
                                      {
                                        "name": "filesystem",
                                        "description": "The filesystem on the disk.",
                                        "subType": "Filesystem",
                                        "value": "ext4",
                                        "required": true,
                                        "type": "Enum",
                                        "schema": null
                                      },
                                      {
                                        "name": "created",
                                        "value": "2015-09-29T11:21:01",
                                        "required": true,
                                        "type": "Datetime",
                                        "schema": null
                                      },
                                      {
                                        "name": "updated",
                                        "value": "2015-09-29T11:21:01",
                                        "required": true,
                                        "type": "Datetime",
                                        "schema": null
                                      }
                                    ]
                                  },
                                  {
                                    "name": "availability",
                                    "description": "If this backup is available, which backup slot it is in.  Otherwise, unavailable.",
                                    "subType": "BackupAvailability",
                                    "value": "daily",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": null
                                  }
                                ]
                              },
                              {
                                "name": "snapshot",
                                "description": "If enabled, the last snapshot that was successfully taken.",
                                "required": true,
                                "type": "Object",
                                "schema": [
                                  {
                                    "name": "id",
                                    "value": 123456,
                                    "required": true,
                                    "type": "Integer",
                                    "schema": null
                                  },
                                  {
                                    "name": "label",
                                    "description": "Human-friendly backup name.",
                                    "value": "A label for your snapshot",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "status",
                                    "description": "Status of the backup.",
                                    "subType": "Status",
                                    "value": "successful",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": [
                                      {
                                        "name": "offline",
                                        "description": "The Linode is powered off."
                                      },
                                      {
                                        "name": "booting",
                                        "description": "The Linode is currently booting up."
                                      },
                                      {
                                        "name": "running",
                                        "description": "The Linode is currently running."
                                      },
                                      {
                                        "name": "shutting_down",
                                        "description": "The Linode is currently shutting down."
                                      },
                                      {
                                        "name": "rebooting",
                                        "description": "The Linode is rebooting."
                                      },
                                      {
                                        "name": "provisioning",
                                        "description": "The Linode is being created."
                                      },
                                      {
                                        "name": "deleting",
                                        "description": "The Linode is being deleted."
                                      },
                                      {
                                        "name": "migrating",
                                        "description": "The Linode is being migrated to a new host/region."
                                      }
                                    ]
                                  },
                                  {
                                    "name": "type",
                                    "description": "Whether this is a snapshot or an auto backup.",
                                    "subType": "Type",
                                    "value": "snapshot",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": null
                                  },
                                  {
                                    "name": "region",
                                    "description": "This backup region.",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "created",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "updated",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "finished",
                                    "description": "An ISO 8601 datetime of when the backup completed.",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "configs",
                                    "description": "Config labels that were included in this backup.",
                                    "value": [
                                      "My Debian8 Profile"
                                    ],
                                    "required": true,
                                    "isArray": true,
                                    "type": "Array[String]",
                                    "schema": null
                                  },
                                  {
                                    "name": "disks",
                                    "description": "The disks included in this backup.",
                                    "required": true,
                                    "isArray": true,
                                    "type": "Array[Object]",
                                    "schema": [
                                      {
                                        "name": "id",
                                        "value": 123456,
                                        "required": true,
                                        "type": "Integer",
                                        "schema": null
                                      },
                                      {
                                        "name": "label",
                                        "description": "Human-friendly disk name.",
                                        "value": "Ubuntu 14.04 Disk",
                                        "required": true,
                                        "type": "String",
                                        "schema": null
                                      },
                                      {
                                        "name": "status",
                                        "description": "Status of the disk.",
                                        "subType": "Status",
                                        "value": "ready",
                                        "required": true,
                                        "type": "Enum",
                                        "schema": [
                                          {
                                            "name": "offline",
                                            "description": "The Linode is powered off."
                                          },
                                          {
                                            "name": "booting",
                                            "description": "The Linode is currently booting up."
                                          },
                                          {
                                            "name": "running",
                                            "description": "The Linode is currently running."
                                          },
                                          {
                                            "name": "shutting_down",
                                            "description": "The Linode is currently shutting down."
                                          },
                                          {
                                            "name": "rebooting",
                                            "description": "The Linode is rebooting."
                                          },
                                          {
                                            "name": "provisioning",
                                            "description": "The Linode is being created."
                                          },
                                          {
                                            "name": "deleting",
                                            "description": "The Linode is being deleted."
                                          },
                                          {
                                            "name": "migrating",
                                            "description": "The Linode is being migrated to a new host/region."
                                          }
                                        ]
                                      },
                                      {
                                        "name": "size",
                                        "description": "Size of this disk in MB.",
                                        "editable": true,
                                        "value": 1000,
                                        "required": true,
                                        "type": "Integer",
                                        "schema": null
                                      },
                                      {
                                        "name": "filesystem",
                                        "description": "The filesystem on the disk.",
                                        "subType": "Filesystem",
                                        "value": "ext4",
                                        "required": true,
                                        "type": "Enum",
                                        "schema": null
                                      },
                                      {
                                        "name": "created",
                                        "value": "2015-09-29T11:21:01",
                                        "required": true,
                                        "type": "Datetime",
                                        "schema": null
                                      },
                                      {
                                        "name": "updated",
                                        "value": "2015-09-29T11:21:01",
                                        "required": true,
                                        "type": "Datetime",
                                        "schema": null
                                      }
                                    ]
                                  },
                                  {
                                    "name": "availability",
                                    "description": "If this backup is available, which backup slot it is in.  Otherwise, unavailable.",
                                    "subType": "BackupAvailability",
                                    "value": "daily",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": null
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "name": "created",
                            "value": "2015-09-29T11:21:01",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "region",
                            "seeAlso": "/reference/endpoints/regions",
                            "description": "This Linode's region.",
                            "filterable": true,
                            "value": "us-east-1a",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "distribution",
                            "seeAlso": "/reference/endpoints/linode/distributions",
                            "description": "The distribution that this Linode booted to last.",
                            "filterable": true,
                            "required": true,
                            "type": "Object",
                            "schema": [
                              {
                                "name": "id",
                                "value": "linode/Arch2014.10",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "updated",
                                "value": "2016-12-24T18:00:09.000Z",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "label",
                                "description": "The user-friendly name of this distribution.",
                                "value": "Arch Linux 2014.10",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "disk_minimum",
                                "description": "The minimum size required for the distribution image.",
                                "value": 800,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "deprecated",
                                "description": "True if this distribution version is deprecated.",
                                "value": true,
                                "required": true,
                                "type": "Boolean",
                                "schema": null
                              },
                              {
                                "name": "vendor",
                                "description": "The upstream distribution vendor. Consistent between releases of a distro.",
                                "value": "Arch",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "architecture",
                                "description": "the architecture of this distribution",
                                "subType": "architecture",
                                "value": "x86_64",
                                "required": true,
                                "type": "Enum",
                                "schema": null
                              }
                            ]
                          },
                          {
                            "name": "group",
                            "description": "This Linode's display group.",
                            "editable": true,
                            "filterable": true,
                            "value": "Example",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "ipv4",
                            "seeAlso": [
                              "/reference/endpoints/linode/instances/$id/ips",
                              "/reference/endpoints/networking/ipv4"
                            ],
                            "description": "This Linode's IPv4 addresses.",
                            "editable": false,
                            "value": [
                              "97.107.143.8",
                              "192.168.149.108"
                            ],
                            "required": true,
                            "isArray": true,
                            "type": "Array[String]",
                            "schema": null
                          },
                          {
                            "name": "ipv6",
                            "seeAlso": [
                              "/reference/endpoints/linode/instances/$id/ips",
                              "/reference/endpoints/networking/ipv6"
                            ],
                            "description": "This Linode's IPv6 slaac address.",
                            "editable": false,
                            "value": "2a01:7e00::f03c:91ff:fe96:46f5/64",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "label",
                            "description": "This Linode's display label.",
                            "editable": true,
                            "filterable": true,
                            "value": "Example Linode",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "type",
                            "description": "The Linode's type as a slug.",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "status",
                            "description": "The current state of this Linode.",
                            "filterable": true,
                            "subType": "Status",
                            "value": "running",
                            "required": true,
                            "type": "Enum",
                            "schema": [
                              {
                                "name": "offline",
                                "description": "The Linode is powered off."
                              },
                              {
                                "name": "booting",
                                "description": "The Linode is currently booting up."
                              },
                              {
                                "name": "running",
                                "description": "The Linode is currently running."
                              },
                              {
                                "name": "shutting_down",
                                "description": "The Linode is currently shutting down."
                              },
                              {
                                "name": "rebooting",
                                "description": "The Linode is rebooting."
                              },
                              {
                                "name": "provisioning",
                                "description": "The Linode is being created."
                              },
                              {
                                "name": "deleting",
                                "description": "The Linode is being deleted."
                              },
                              {
                                "name": "migrating",
                                "description": "The Linode is being migrated to a new host/region."
                              }
                            ]
                          },
                          {
                            "name": "updated",
                            "description": "The last updated datetime for this Linode record.",
                            "value": "2015-10-27T09:59:26.000Z",
                            "required": true,
                            "type": "Datetime",
                            "schema": null
                          },
                          {
                            "name": "hypervisor",
                            "description": "The hypervisor this Linode is running on.",
                            "subType": "Hypervisor",
                            "value": "kvm",
                            "required": true,
                            "type": "Enum",
                            "schema": [
                              {
                                "name": "kvm",
                                "description": "KVM"
                              },
                              {
                                "name": "xen",
                                "description": "Xen"
                              }
                            ]
                          },
                          {
                            "name": "specs",
                            "description": "Specifications for this Linode.",
                            "required": true,
                            "type": "Object",
                            "schema": [
                              {
                                "name": "disk",
                                "description": "Available disk space, in MB",
                                "value": 24576,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "memory",
                                "description": "Total RAM for this Linode.",
                                "value": 1024,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "vcpus",
                                "description": "Number of VCPUs for this Linode.",
                                "value": 1,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "transfer",
                                "description": "The amount of outbound traffic used this month.",
                                "value": 20000,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "name": "page",
                        "description": "The current page in the results.",
                        "value": 1,
                        "required": true,
                        "type": "Integer",
                        "schema": null
                      }
                    ],
                    "enums": {
                      "Status": {
                        "offline": "The Linode is powered off.",
                        "booting": "The Linode is currently booting up.",
                        "running": "The Linode is currently running.",
                        "shutting_down": "The Linode is currently shutting down.",
                        "rebooting": "The Linode is rebooting.",
                        "provisioning": "The Linode is being created.",
                        "deleting": "The Linode is being deleted.",
                        "migrating": "The Linode is being migrated to a new host/region."
                      },
                      "BackupStatus": {
                        "pending": "Backup is in the queue and waiting to begin.",
                        "running": "Linode in the process of being backed up.",
                        "needsPostProcessing": "Backups awaiting final integration into existing backup data.",
                        "successful": "Backup successfully completed.",
                        "failed": "Linode backup failed.",
                        "userAborted": "User aborted current backup process."
                      },
                      "BackupType": {
                        "auto": "Automatic backup",
                        "snapshot": "User-initiated, manual file backup"
                      },
                      "Window": {
                        "W0": "0000 - 0200 UTC",
                        "W2": "0200 - 0400 UTC",
                        "W4": "0400 - 0600 UTC",
                        "W6": "0600 - 0800 UTC",
                        "W8": "0800 - 1000 UTC",
                        "W10": "1000 - 1200 UTC",
                        "W12": "1200 - 1400 UTC",
                        "W14": "1400 - 1600 UTC",
                        "W16": "1600 - 1800 UTC",
                        "W18": "1800 - 2000 UTC",
                        "W20": "2000 - 2200 UTC",
                        "W22": "2200 - 0000 UTC"
                      },
                      "Hypervisor": {
                        "kvm": "KVM",
                        "xen": "Xen"
                      }
                    },
                    "example": {
                      "pages": 1,
                      "results": 1,
                      "data": [
                        {
                          "id": 123456,
                          "alerts": {
                            "cpu": 90,
                            "io": 10000,
                            "network_in": 0,
                            "network_out": 10,
                            "transfer_quota": 80
                          },
                          "backups": {
                            "enabled": true,
                            "schedule": {
                              "day": "Tuesday",
                              "window": "W20"
                            },
                            "last_backup": {
                              "id": 123456,
                              "label": "A label for your snapshot",
                              "status": "successful",
                              "type": "snapshot",
                              "created": "2015-09-29T11:21:01",
                              "updated": "2015-09-29T11:21:01",
                              "finished": "2015-09-29T11:21:01",
                              "configs": [
                                "My Debian8 Profile"
                              ],
                              "disks": [
                                {
                                  "id": 123456,
                                  "label": "Ubuntu 14.04 Disk",
                                  "status": "ready",
                                  "size": 1000,
                                  "filesystem": "ext4",
                                  "created": "2015-09-29T11:21:01",
                                  "updated": "2015-09-29T11:21:01"
                                }
                              ],
                              "availability": "daily"
                            },
                            "snapshot": {
                              "id": 123456,
                              "label": "A label for your snapshot",
                              "status": "successful",
                              "type": "snapshot",
                              "created": "2015-09-29T11:21:01",
                              "updated": "2015-09-29T11:21:01",
                              "finished": "2015-09-29T11:21:01",
                              "configs": [
                                "My Debian8 Profile"
                              ],
                              "disks": [
                                {
                                  "id": 123456,
                                  "label": "Ubuntu 14.04 Disk",
                                  "status": "ready",
                                  "size": 1000,
                                  "filesystem": "ext4",
                                  "created": "2015-09-29T11:21:01",
                                  "updated": "2015-09-29T11:21:01"
                                }
                              ],
                              "availability": "daily"
                            }
                          },
                          "created": "2015-09-29T11:21:01",
                          "region": "us-east-1a",
                          "distribution": {
                            "id": "linode/Arch2014.10",
                            "updated": "2016-12-24T18:00:09.000Z",
                            "label": "Arch Linux 2014.10",
                            "disk_minimum": 800,
                            "deprecated": true,
                            "vendor": "Arch",
                            "architecture": "x86_64"
                          },
                          "group": "Example",
                          "ipv4": [
                            "97.107.143.8",
                            "192.168.149.108"
                          ],
                          "ipv6": "2a01:7e00::f03c:91ff:fe96:46f5/64",
                          "label": "Example Linode",
                          "status": "running",
                          "updated": "2015-10-27T09:59:26.000Z",
                          "hypervisor": "kvm",
                          "specs": {
                            "disk": 24576,
                            "memory": 1024,
                            "vcpus": 1,
                            "transfer": 20000
                          }
                        }
                      ],
                      "page": 1
                    }
                  },
                  "paginationKey": "linodes",
                  "oauth": "linodes:view",
                  "description": "Returns a list of Linodes.\n",
                  "examples": [
                    {
                      "name": "curl",
                      "value": "curl -H \"Authorization: Bearer $TOKEN\" \\\n    https://api.linode.com/v4/linode/instances\n"
                    },
                    {
                      "name": "python",
                      "value": "my_linodes = client.linode.get_instances()\n"
                    }
                  ],
                  "name": "GET",
                  "params": {}
                },
                {
                  "money": true,
                  "oauth": "linodes:create",
                  "description": "Creates a new Linode.\n",
                  "params": {
                    "region": {
                      "description": "A region ID to provision this Linode in.\n",
                      "type": "string",
                      "value": "us-east-1a",
                      "name": "region"
                    },
                    "type": {
                      "description": "A Linode type ID to use for this Linode.",
                      "type": "string",
                      "name": "type"
                    },
                    "label": {
                      "optional": true,
                      "description": "The label to assign this Linode. Defaults to \"linode\".",
                      "type": "String",
                      "limit": "3-32 ASCII characters limited to letters, numbers, underscores, and dashes, starting and ending with a letter, and without two dashes or underscores in a row",
                      "name": "label"
                    },
                    "group": {
                      "optional": true,
                      "description": "The group to assign this Linode. Defaults to \"empty\".",
                      "type": "String",
                      "limit": "0-50 characters",
                      "name": "group"
                    },
                    "distribution": {
                      "optional": true,
                      "description": "The Distribution to deploy this Linode with.  May not be included if 'backup' is sent.\n",
                      "type": "string",
                      "name": "distribution"
                    },
                    "root_pass": {
                      "optional": "unless source == \"distro\"",
                      "description": "The root password to use when sourcing this Linode from a distribution. <ul><li>root_pass is required if the source provided is a distribution.</li></ul>\n",
                      "type": "String",
                      "name": "root_pass"
                    },
                    "authorized_keys": {
                      "optional": true,
                      "description": "An array of public SSH keys to be installed into the distribution's default user's `authorized_keys` file when creating a Linode.\n",
                      "type": "Array",
                      "name": "authorized_keys"
                    },
                    "stackscript_id": {
                      "optional": true,
                      "description": "The stackscript ID to deploy with this disk. <ul><li>Must provide a distribution. Distribution must be one that the stackscript can be deployed to.</li></ul>\n",
                      "type": "Integer",
                      "name": "stackscript_id"
                    },
                    "stackscript_data": {
                      "optional": true,
                      "description": "UDF (user-defined fields) for this stackscript. Defaults to \"{}\". <ul><li>Must match UDFs required by stackscript.</li></ul>\n",
                      "type": "String",
                      "name": "stackscript_data"
                    },
                    "backup_id": {
                      "optional": true,
                      "description": "The Backup to restore to the newly created Linode.  May not be included if 'distribution' is sent.\n",
                      "type": "Integer",
                      "name": "backup_id"
                    },
                    "backups_enabled": {
                      "optional": true,
                      "description": "Subscribes this Linode with the Backup service. (Additional charges apply.) Defaults to \"false\".\n",
                      "type": "Boolean",
                      "name": "backups_enabled"
                    },
                    "booted": {
                      "optional": true,
                      "description": "Whether the instance should be booted upon completion of creation. This defaults to true if created with a distribution.\n",
                      "type": "Boolean",
                      "name": "booted"
                    },
                    "schema": [
                      {
                        "name": "region",
                        "description": "A region ID to provision this Linode in.\n",
                        "value": "us-east-1a",
                        "required": true,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "type",
                        "description": "A Linode type ID to use for this Linode.",
                        "required": true,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "label",
                        "description": "The label to assign this Linode. Defaults to \"linode\".",
                        "required": false,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "group",
                        "description": "The group to assign this Linode. Defaults to \"empty\".",
                        "required": false,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "distribution",
                        "description": "The Distribution to deploy this Linode with.  May not be included if 'backup' is sent.\n",
                        "required": false,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "root_pass",
                        "description": {
                          "descText": "The root password to use when sourcing this Linode from a distribution. \n",
                          "listItems": [
                            "root_pass is required if the source provided is a distribution."
                          ]
                        },
                        "required": false,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "authorized_keys",
                        "description": "An array of public SSH keys to be installed into the distribution's default user's `authorized_keys` file when creating a Linode.\n",
                        "required": false,
                        "type": "Array",
                        "schema": null
                      },
                      {
                        "name": "stackscript_id",
                        "description": {
                          "descText": "The stackscript ID to deploy with this disk. \n",
                          "listItems": [
                            "Must provide a distribution. Distribution must be one that the stackscript can be deployed to."
                          ]
                        },
                        "required": false,
                        "type": "Integer",
                        "schema": null
                      },
                      {
                        "name": "stackscript_data",
                        "description": {
                          "descText": "UDF (user-defined fields) for this stackscript. Defaults to \"{}\". \n",
                          "listItems": [
                            "Must match UDFs required by stackscript."
                          ]
                        },
                        "required": false,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "backup_id",
                        "description": "The Backup to restore to the newly created Linode.  May not be included if 'distribution' is sent.\n",
                        "required": false,
                        "type": "Integer",
                        "schema": null
                      },
                      {
                        "name": "backups_enabled",
                        "description": "Subscribes this Linode with the Backup service. (Additional charges apply.) Defaults to \"false\".\n",
                        "required": false,
                        "type": "Boolean",
                        "schema": null
                      },
                      {
                        "name": "booted",
                        "description": "Whether the instance should be booted upon completion of creation. This defaults to true if created with a distribution.\n",
                        "required": false,
                        "type": "Boolean",
                        "schema": null
                      }
                    ],
                    "example": {
                      "region": "us-east-1a"
                    }
                  },
                  "examples": [
                    {
                      "name": "curl",
                      "value": "curl -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $TOKEN\" \\\n    -X POST -d '{\n  \"region\": \"us-east-1a\"\n}' \\\n    https://api.linode.com/v4/linode/instances\n"
                    },
                    {
                      "name": "python",
                      "value": "my_linode = client.linode.create_instance(client.get_regions().first(), 'g5-nanode-1')\n\ndistro = client.linode.get_distributons(linode.Distribution.vendor == 'debian').first()\n( my_linode_2, password ) = client.linode.create_instance('us-east-1a', 'g5-standard-1', distribution=distro)\n"
                    }
                  ],
                  "name": "POST",
                  "response": {}
                }
              ],
              "path": "/linode/instances",
              "routePath": "/v4/reference/endpoints/linode/instances",
              "group": ""
            },
            {
              "type": "resource",
              "authenticated": true,
              "description": "Manage a particular Linode your account may access.\n",
              "methods": [
                {
                  "response": {
                    "name": "Linode",
                    "prefix": "lnde",
                    "description": "Linode objects describe a single Linode on your account.\n",
                    "schema": [
                      {
                        "name": "id",
                        "description": "This Linode's ID",
                        "value": 123456,
                        "required": true,
                        "type": "Integer",
                        "schema": null
                      },
                      {
                        "name": "alerts",
                        "description": {
                          "descText": "Toggle and set thresholds for receiving email alerts. \n",
                          "listItems": [
                            "CPU Usage - % - Average CPU usage over 2 hours exceeding this value triggers this alert. (Range 0-2000, default 90)",
                            "Disk IO Rate - IO Ops/sec - Average Disk IO ops/sec over 2 hours exceeding this value triggers this alert. (Range 0-100000, default 10000)",
                            "Incoming Traffic - Mbit/s - Average incoming traffic over a 2 hour period exceeding this value triggers this alert. (Range 0-40000, default 10)",
                            "Outbound Traffic - Mbit/s - Average outbound traffic over a 2 hour period exceeding this value triggers this alert. (Range 0-10000, default 10)",
                            "Transfer Quota - % - Percentage of network transfer quota used being greater than this value will trigger this alert. (Range 0-400, default 80)"
                          ]
                        },
                        "required": true,
                        "type": "Object",
                        "schema": [
                          {
                            "name": "cpu",
                            "description": "CPU Usage % (Range 0-2000, default 90). 0 to disable.",
                            "value": 90,
                            "required": true,
                            "type": "Integer",
                            "schema": null
                          },
                          {
                            "name": "io",
                            "description": "Disk IO Rate ops/sec (Range 0-100000, default 10000). 0 to disable.",
                            "value": 10000,
                            "required": true,
                            "type": "Integer",
                            "schema": null
                          },
                          {
                            "name": "network_in",
                            "description": "Incoming Traffic Mbit/s (Range 0-40000, default 10). 0 to disable.",
                            "value": 0,
                            "required": true,
                            "type": "Integer",
                            "schema": null
                          },
                          {
                            "name": "network_out",
                            "description": "Outbound Traffic Mbit/s (Range 0-10000, default 10). 0 to disable.",
                            "value": 10,
                            "required": true,
                            "type": "Integer",
                            "schema": null
                          },
                          {
                            "name": "transfer_quota",
                            "description": "Transfer Quota % (Range 0-400, default 80). 0 to disable.",
                            "value": 80,
                            "required": true,
                            "type": "Integer",
                            "schema": null
                          }
                        ]
                      },
                      {
                        "name": "backups",
                        "seeAlso": "/reference/endpoints/linode/instances/$id/backups",
                        "description": "Displays if backups are enabled, last backup datetime if applicable, and the day/window your backups will occur. Window is prefixed by a \"W\" and an integer representing the two-hour window in 24-hour UTC time format. For example, 2AM is represented as \"W2\", 8PM as \"W20\", etc. (W0, W2, W4...W22)\n",
                        "required": true,
                        "type": "Object",
                        "schema": [
                          {
                            "name": "enabled",
                            "value": true,
                            "required": true,
                            "type": "Boolean",
                            "schema": null
                          },
                          {
                            "name": "schedule",
                            "description": "The day and window of a Linode's automatic backups.",
                            "required": true,
                            "type": "Object",
                            "schema": [
                              {
                                "name": "day",
                                "value": "Tuesday",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "window",
                                "value": "W20",
                                "required": true,
                                "type": "String",
                                "schema": null
                              }
                            ]
                          },
                          {
                            "name": "last_backup",
                            "description": "If enabled, the last backup that was successfully taken.",
                            "required": true,
                            "type": "Object",
                            "schema": [
                              {
                                "name": "id",
                                "value": 123456,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "label",
                                "description": "Human-friendly backup name.",
                                "value": "A label for your snapshot",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "status",
                                "description": "Status of the backup.",
                                "subType": "Status",
                                "value": "successful",
                                "required": true,
                                "type": "Enum",
                                "schema": [
                                  {
                                    "name": "offline",
                                    "description": "The Linode is powered off."
                                  },
                                  {
                                    "name": "booting",
                                    "description": "The Linode is currently booting up."
                                  },
                                  {
                                    "name": "running",
                                    "description": "The Linode is currently running."
                                  },
                                  {
                                    "name": "shutting_down",
                                    "description": "The Linode is currently shutting down."
                                  },
                                  {
                                    "name": "rebooting",
                                    "description": "The Linode is rebooting."
                                  },
                                  {
                                    "name": "provisioning",
                                    "description": "The Linode is being created."
                                  },
                                  {
                                    "name": "deleting",
                                    "description": "The Linode is being deleted."
                                  },
                                  {
                                    "name": "migrating",
                                    "description": "The Linode is being migrated to a new host/region."
                                  }
                                ]
                              },
                              {
                                "name": "type",
                                "description": "Whether this is a snapshot or an auto backup.",
                                "subType": "Type",
                                "value": "snapshot",
                                "required": true,
                                "type": "Enum",
                                "schema": null
                              },
                              {
                                "name": "region",
                                "description": "This backup region.",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "created",
                                "value": "2015-09-29T11:21:01",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "updated",
                                "value": "2015-09-29T11:21:01",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "finished",
                                "description": "An ISO 8601 datetime of when the backup completed.",
                                "value": "2015-09-29T11:21:01",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "configs",
                                "description": "Config labels that were included in this backup.",
                                "value": [
                                  "My Debian8 Profile"
                                ],
                                "required": true,
                                "isArray": true,
                                "type": "Array[String]",
                                "schema": null
                              },
                              {
                                "name": "disks",
                                "description": "The disks included in this backup.",
                                "required": true,
                                "isArray": true,
                                "type": "Array[Object]",
                                "schema": [
                                  {
                                    "name": "id",
                                    "value": 123456,
                                    "required": true,
                                    "type": "Integer",
                                    "schema": null
                                  },
                                  {
                                    "name": "label",
                                    "description": "Human-friendly disk name.",
                                    "value": "Ubuntu 14.04 Disk",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "status",
                                    "description": "Status of the disk.",
                                    "subType": "Status",
                                    "value": "ready",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": [
                                      {
                                        "name": "offline",
                                        "description": "The Linode is powered off."
                                      },
                                      {
                                        "name": "booting",
                                        "description": "The Linode is currently booting up."
                                      },
                                      {
                                        "name": "running",
                                        "description": "The Linode is currently running."
                                      },
                                      {
                                        "name": "shutting_down",
                                        "description": "The Linode is currently shutting down."
                                      },
                                      {
                                        "name": "rebooting",
                                        "description": "The Linode is rebooting."
                                      },
                                      {
                                        "name": "provisioning",
                                        "description": "The Linode is being created."
                                      },
                                      {
                                        "name": "deleting",
                                        "description": "The Linode is being deleted."
                                      },
                                      {
                                        "name": "migrating",
                                        "description": "The Linode is being migrated to a new host/region."
                                      }
                                    ]
                                  },
                                  {
                                    "name": "size",
                                    "description": "Size of this disk in MB.",
                                    "editable": true,
                                    "value": 1000,
                                    "required": true,
                                    "type": "Integer",
                                    "schema": null
                                  },
                                  {
                                    "name": "filesystem",
                                    "description": "The filesystem on the disk.",
                                    "subType": "Filesystem",
                                    "value": "ext4",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": null
                                  },
                                  {
                                    "name": "created",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "Datetime",
                                    "schema": null
                                  },
                                  {
                                    "name": "updated",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "Datetime",
                                    "schema": null
                                  }
                                ]
                              },
                              {
                                "name": "availability",
                                "description": "If this backup is available, which backup slot it is in.  Otherwise, unavailable.",
                                "subType": "BackupAvailability",
                                "value": "daily",
                                "required": true,
                                "type": "Enum",
                                "schema": null
                              }
                            ]
                          },
                          {
                            "name": "snapshot",
                            "description": "If enabled, the last snapshot that was successfully taken.",
                            "required": true,
                            "type": "Object",
                            "schema": [
                              {
                                "name": "id",
                                "value": 123456,
                                "required": true,
                                "type": "Integer",
                                "schema": null
                              },
                              {
                                "name": "label",
                                "description": "Human-friendly backup name.",
                                "value": "A label for your snapshot",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "status",
                                "description": "Status of the backup.",
                                "subType": "Status",
                                "value": "successful",
                                "required": true,
                                "type": "Enum",
                                "schema": [
                                  {
                                    "name": "offline",
                                    "description": "The Linode is powered off."
                                  },
                                  {
                                    "name": "booting",
                                    "description": "The Linode is currently booting up."
                                  },
                                  {
                                    "name": "running",
                                    "description": "The Linode is currently running."
                                  },
                                  {
                                    "name": "shutting_down",
                                    "description": "The Linode is currently shutting down."
                                  },
                                  {
                                    "name": "rebooting",
                                    "description": "The Linode is rebooting."
                                  },
                                  {
                                    "name": "provisioning",
                                    "description": "The Linode is being created."
                                  },
                                  {
                                    "name": "deleting",
                                    "description": "The Linode is being deleted."
                                  },
                                  {
                                    "name": "migrating",
                                    "description": "The Linode is being migrated to a new host/region."
                                  }
                                ]
                              },
                              {
                                "name": "type",
                                "description": "Whether this is a snapshot or an auto backup.",
                                "subType": "Type",
                                "value": "snapshot",
                                "required": true,
                                "type": "Enum",
                                "schema": null
                              },
                              {
                                "name": "region",
                                "description": "This backup region.",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "created",
                                "value": "2015-09-29T11:21:01",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "updated",
                                "value": "2015-09-29T11:21:01",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "finished",
                                "description": "An ISO 8601 datetime of when the backup completed.",
                                "value": "2015-09-29T11:21:01",
                                "required": true,
                                "type": "String",
                                "schema": null
                              },
                              {
                                "name": "configs",
                                "description": "Config labels that were included in this backup.",
                                "value": [
                                  "My Debian8 Profile"
                                ],
                                "required": true,
                                "isArray": true,
                                "type": "Array[String]",
                                "schema": null
                              },
                              {
                                "name": "disks",
                                "description": "The disks included in this backup.",
                                "required": true,
                                "isArray": true,
                                "type": "Array[Object]",
                                "schema": [
                                  {
                                    "name": "id",
                                    "value": 123456,
                                    "required": true,
                                    "type": "Integer",
                                    "schema": null
                                  },
                                  {
                                    "name": "label",
                                    "description": "Human-friendly disk name.",
                                    "value": "Ubuntu 14.04 Disk",
                                    "required": true,
                                    "type": "String",
                                    "schema": null
                                  },
                                  {
                                    "name": "status",
                                    "description": "Status of the disk.",
                                    "subType": "Status",
                                    "value": "ready",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": [
                                      {
                                        "name": "offline",
                                        "description": "The Linode is powered off."
                                      },
                                      {
                                        "name": "booting",
                                        "description": "The Linode is currently booting up."
                                      },
                                      {
                                        "name": "running",
                                        "description": "The Linode is currently running."
                                      },
                                      {
                                        "name": "shutting_down",
                                        "description": "The Linode is currently shutting down."
                                      },
                                      {
                                        "name": "rebooting",
                                        "description": "The Linode is rebooting."
                                      },
                                      {
                                        "name": "provisioning",
                                        "description": "The Linode is being created."
                                      },
                                      {
                                        "name": "deleting",
                                        "description": "The Linode is being deleted."
                                      },
                                      {
                                        "name": "migrating",
                                        "description": "The Linode is being migrated to a new host/region."
                                      }
                                    ]
                                  },
                                  {
                                    "name": "size",
                                    "description": "Size of this disk in MB.",
                                    "editable": true,
                                    "value": 1000,
                                    "required": true,
                                    "type": "Integer",
                                    "schema": null
                                  },
                                  {
                                    "name": "filesystem",
                                    "description": "The filesystem on the disk.",
                                    "subType": "Filesystem",
                                    "value": "ext4",
                                    "required": true,
                                    "type": "Enum",
                                    "schema": null
                                  },
                                  {
                                    "name": "created",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "Datetime",
                                    "schema": null
                                  },
                                  {
                                    "name": "updated",
                                    "value": "2015-09-29T11:21:01",
                                    "required": true,
                                    "type": "Datetime",
                                    "schema": null
                                  }
                                ]
                              },
                              {
                                "name": "availability",
                                "description": "If this backup is available, which backup slot it is in.  Otherwise, unavailable.",
                                "subType": "BackupAvailability",
                                "value": "daily",
                                "required": true,
                                "type": "Enum",
                                "schema": null
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "name": "created",
                        "value": "2015-09-29T11:21:01",
                        "required": true,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "region",
                        "seeAlso": "/reference/endpoints/regions",
                        "description": "This Linode's region.",
                        "filterable": true,
                        "value": "us-east-1a",
                        "required": true,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "distribution",
                        "seeAlso": "/reference/endpoints/linode/distributions",
                        "description": "The distribution that this Linode booted to last.",
                        "filterable": true,
                        "required": true,
                        "type": "Object",
                        "schema": [
                          {
                            "name": "id",
                            "value": "linode/Arch2014.10",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "updated",
                            "value": "2016-12-24T18:00:09.000Z",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "label",
                            "description": "The user-friendly name of this distribution.",
                            "filterable": true,
                            "value": "Arch Linux 2014.10",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "disk_minimum",
                            "description": "The minimum size required for the distribution image.",
                            "filterable": true,
                            "value": 800,
                            "required": true,
                            "type": "Integer",
                            "schema": null
                          },
                          {
                            "name": "deprecated",
                            "description": "True if this distribution version is deprecated.",
                            "filterable": true,
                            "value": true,
                            "required": true,
                            "type": "Boolean",
                            "schema": null
                          },
                          {
                            "name": "vendor",
                            "description": "The upstream distribution vendor. Consistent between releases of a distro.",
                            "filterable": true,
                            "value": "Arch",
                            "required": true,
                            "type": "String",
                            "schema": null
                          },
                          {
                            "name": "architecture",
                            "description": "the architecture of this distribution",
                            "filterable": true,
                            "subType": "architecture",
                            "value": "x86_64",
                            "required": true,
                            "type": "Enum",
                            "schema": null
                          }
                        ]
                      },
                      {
                        "name": "group",
                        "description": "This Linode's display group.",
                        "editable": true,
                        "filterable": true,
                        "value": "Example",
                        "required": true,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "ipv4",
                        "seeAlso": [
                          "/reference/endpoints/linode/instances/$id/ips",
                          "/reference/endpoints/networking/ipv4"
                        ],
                        "description": "This Linode's IPv4 addresses.",
                        "editable": false,
                        "value": [
                          "97.107.143.8",
                          "192.168.149.108"
                        ],
                        "required": true,
                        "isArray": true,
                        "type": "Array[String]",
                        "schema": null
                      },
                      {
                        "name": "ipv6",
                        "seeAlso": [
                          "/reference/endpoints/linode/instances/$id/ips",
                          "/reference/endpoints/networking/ipv6"
                        ],
                        "description": "This Linode's IPv6 slaac address.",
                        "editable": false,
                        "value": "2a01:7e00::f03c:91ff:fe96:46f5/64",
                        "required": true,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "label",
                        "description": "This Linode's display label.",
                        "editable": true,
                        "filterable": true,
                        "value": "Example Linode",
                        "required": true,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "type",
                        "description": "The Linode's type as a slug.",
                        "required": true,
                        "type": "String",
                        "schema": null
                      },
                      {
                        "name": "status",
                        "description": "The current state of this Linode.",
                        "filterable": true,
                        "subType": "Status",
                        "value": "running",
                        "required": true,
                        "type": "Enum",
                        "schema": [
                          {
                            "name": "offline",
                            "description": "The Linode is powered off."
                          },
                          {
[...]
